Repository React-Native-Camp/GitChat, pull requests merged in 2020-12, with the labels that each got.

#34 Chat input Component
  client/src/components/commonComponents/ChatInput/index.js
  client/src/components/commonComponents/ChatInput/style.js
  client/src/components/commonComponents/TabNavigator/index.js
  client/src/components/commonComponents/TabNavigator/style.js
Labels: waiting-review

#36 Created the contact and chat card shared component
  client/src/components/commonComponents/ContactChatCard/index.js
  client/src/components/commonComponents/ContactChatCard/style.js
Labels: common-component, waiting-review

#37 Profile screen
  client/src/components/ProfileTab/index.js
  client/src/components/ProfileTab/style.js
  client/src/components/commonComponents/TabNavigator/index.js
Labels: waiting-review

#39 search component #21
  client/src/components/commonComponents/Search/index.js
  client/src/components/commonComponents/Search/style.js
Labels: common-component, done

#40 Chat header
  client/src/components/commonComponents/ChatHeader/index.js
  client/src/components/commonComponents/ChatHeader/style.js
Labels: common-component, waiting-review

#43 Contacts page
  client/package.json
  client/src/components/commonComponents/ContactChatCard/index.js
  client/src/components/commonComponents/ContactChatCard/style.js
  client/src/components/commonComponents/TabNavigator/index.js
  client/src/screens/ContactsPage/index.js
  client/src/screens/ContactsPage/style.js
Labels: approved, screen

#45 Chat socket
  backend/.gitignore
  backend/index.js
  backend/package.json
  client/.gitignore
  client/package.json
  client/src/components/commonComponents/ChatInput/index.js
  client/src/components/commonComponents/ChatInput/style.js
  client/src/components/commonComponents/ChatInput/useChat.js
  client/src/screens/Conversation/index.js
Labels: waiting-review
